.dropdown-item, .dropdown-menu .dropdown-text {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size: 12px;
}
.row {
	padding-top: 5px;
	padding-bottom: 5px;
}
.dropdown {
	float: right;
}
#dateRight {
	margin-left: -4px;
}
.dropdownStats { 
	float: left;
}
.statsButton {
	width: 100%;
}
.statsText {
	text-align: left;
	background-color: white;
}
a:link, a:visited, a:hover, a:active {
color: black;
text-decoration: none;
}

